__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

.pixi/*
!.pixi/config.toml

/db/
/log/
/pid/
/security/
/collection_packages/

history.sqlite
*.log
startup/existing_plans_and_devices.yaml

*~
*.swp
*.swo
.DS_Store
.idea/
.vscode/
